@model IEnumerable<ProjektBDanych.Models.Dziennik>

<div class="container mt-5">
    <h2 class="text-center mb-4">Dziennik posłów polskich</h2>
    <a class="btn btn-primary mb-3" asp-action="Get">Importuj dane z API</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Number of Votes</th>
                <th>Voivodeship</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.numberOfVotes</td>
                    <td>@item.Voivodeship</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
